# connection URL to relational (SQL) database
DATABASE_URL=some_sql_service://username:password@IP:PORT/database_name

# override DATABASE_URL and do not try to connect to DB at compile time
SQLX_OFFLINE=true

# logging level = {DEBUG, INFO, WARN}
RUST_LOG=debug